{% extends "base.html" %}
{% block title %}图书{% endblock %}
{% block description %}值得pythoner一读的图书{% endblock %}
{% block canonical %}<link rel="canonical" href="http://pythoner.org/wiki/" />{% endblock %}
{% load books_tags %}
{% block main %}
<div id="category-list">
    <h1>python图书推荐</h1>    
</div>

<div class="box">
    {% include 'books_list.inc.html' %}
    <div class="clear"></div>
</div>

{% endblock %}
{% block sidebar %}
    {% get_book_by_clicktime %}
    <div id="float-ads-sidebar">{% include "ga_250_250.inc.html" %}</div>
{% endblock %}
