{% extends "base.html" %}
{% block title %}修改代码{% endblock %}
{% block main %}
<style>
form textarea{width:100%;height:400px;line-height:18px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
    $('option[value={{ code.language.id }}]').attr('selected','selected');

});
</script>
    <h1>修改代码</h1>
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
    <p class="submit"><input type="submit" name="submit" value="保存代码" class="button" style="width:100px;"></p>
    </form>
{% endblock %}
