{% extends "base.html" %}
{% block title %}分享你的代码{% endblock %}
{% block main %}
<style>
input,textarea{width:100%;}
</style>
    <h1>{{ title }}</h1>
    <form action="" method="POST" id='add-by-file'>
        {{ form.as_p }}
        <p class="submit"><input type="submit" value="下一步" class="button" style="width:100px;"></p>
    </form>
{% endblock %}
{% block sidebar %}
    <ol>
    <h2>分享代码提示</h2>
    <li>第一次分享代码时，请参考别人的<a href="/code/" class="red">作品</a></li>
    <li>代码将在下一步添加，而不是粘贴到“描述”里</li>
    <li>填写所需要的模块名称，可以方便其他人找到你的代码</li>
    </ol>
{% endblock %}