{% extends 'email_base.html' %}
{% block title %}由pythoner.org为您推荐的新鲜内容{% endblock %}
{% block content %}
    <strong>最新文章</strong>
    <ul>
        {% for wiki in wikis %}
            <li><a href="http://pythoner.org/{{ wiki.get_absolute_url }}">{{ wiki.title }}</a> </li>
        {% endfor %}
    </ul>
	<Br />
    <strong>分享的代码</strong>
    <ul>
        {% for code in codes %}
            <li><a href="http://pythoner.org/{{ code.get_absolute_url }}">{{ code.title }}</a> </li>
        {% endfor %}
    </ul>
	<Br />
    <strong>招聘信息</strong>
    <ul>
        {% for job in jobs %}
            <li><a href="http://pythoner.org/{{ job.get_absolute_url }}">{{ job.title }}</a> </li>
        {% endfor %}
    </ul>
{% endblock %}s