{% extends 'email_base.html' %}
{% block title %}由pythoner.org为您推荐的新鲜内容({% now "Y-m-d" %}){% endblock %}
{% block content %}
    <h1>最新文章</h1>
        {% for wiki in wikis %}
                {{ wiki.title }}<br/>
                <a href="http://pythoner.org/{{ wiki.get_absolute_url }}">http://pythoner.org/{{ wiki.get_absolute_url }}</a><br/><br/>
        {% endfor %}
    <h1>分享的代码</h1>
        {% for code in codes %}
                {{ code.title }}<br/>
                <a href="http://pythoner.org/{{ code.get_absolute_url }}">http://pythoner.org/{{ code.get_absolute_url }}</a> 
                <br/><br/>
        {% endfor %}
    <Br />
    <h1>正在讨论</h1>
        {% for topic in topics %}
            {{ topic.title }} <br/>
            <a href="http://pythoner.org/{{ topic.get_absolute_url }}">http://pythoner.org/{{ topic.get_absolute_url }}</a><br/><br/>
        {% endfor %}

    <h1>招聘信息</h1>
    {% for job in jobs %}<br/>
            [{{ job.city }}] {{ job.company }} {{ job.title }}<br/>
            <a href="http://pythoner.org/{{ job.get_absolute_url }}">http://pythoner.org/{{ job.get_absolute_url }}</a><br/><br/> 
        {% endfor %}
{% endblock %}s
