    <div class="clear">&nbsp;</div>
    <div id="footer">
        <div class="info">
            <div class="links">
                <span>陕ICP备11011582号</span> |
                <a href="/about/">关于小站</a> |
                <a href="http://lidata.net" target="_blank">LIDATA</a> |
                <a href="https://github.com/tianyu0915/pythoner.org" target="_blank">下载源码</a> |
                <a href="http://www.linode.com/?r=a8f97dcc672e583fee269293beb473d02a77253d">VPS</a> |
                <script src="http://s17.cnzz.com/stat.php?id=3263387&web_id=3263387&show=pic" language="JavaScript"></script> 
            </div>
            <div class="version" title="当前版本 {{ VERSION }} ">VERSION:{{ VERSION }}</div>
        <div class="clear">&nbsp;</div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="copyright">COPYRIGHT © 2010 PYTHONER.NET POWERED BY DJANGO</div>
    </div>

</div><!-- #wrapper -->
</body><!-- end transmission -->
</html>
