{% extends 'base.html' %}
{% block title %}发布招聘信息{% endblock %}
{% block main %}
<link rel="stylesheet" href="/static/js/kindeditor/themes/default/default.css">
<script type="text/javascript" src="/static/js/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="/static/js/kindeditor/lang/zh_CN.js"></script>
<script>
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#id_content', {
                        resizeType : 2,
                        allowImageUpload:false,
                        height:'400px',
                        width:'690px',
                        fontSizeTable:'14px',
                        filterMode :true,
                        items:['formatblock','quickformat','map','fullscreen'],
                        htmlTags:{
                            img : ['src', 'width', 'height'],
                            'table,tr,th,td,p,h1,h2,h3,h4,h5,ul,ol,li,span,em,br,hr,' : []
                        }

                });
        });
</script>
<style>
#id_title,#id_website,#id_company,#id_email{width:300px;}
</style>    
    <h1>第二步，填写招聘信息</h1>
    <form method="POST" action="">
        {{ form.as_p }}
        {% csrf_token %}
    <p class="submit"><input type="submit" value="提交保存" class="button" style="width:120px;"></p>
    </form>
{% endblock %}
{% block sidebar %}
    {% load jobs_tags %}
    {% get_latest_job %}
    {% include 'jobs_ads.inc.html' %}
{% endblock %}
