{% extends 'base.html' %}
{% block keyworld %},python招聘,招聘pythoner{% endblock %}
{% block title %}招聘{% endblock %}
{% block description %}按区域查看、发布全python相关职位的招聘信息{% endblock %}
{% block main %}
{% load home_tags %}
{% load jobs_tags %}
{% if city %}
    <div id="category-list">
        所有<b class='red'>{{ city }}</b>的招聘信息
        <div class="clear"></div>
    </div>
{% else %}
    <div id="category-list">
        {% get_cities %}
        <div class="clear"></div>
    </div>
{% endif %}

    <div class="box">{% include "ga_700_90.inc.html" %}</div>

    <div class="box">
        <ul class="list" id="job-list">
            {% for entry in entrys.object_list|slice:":15" %}
                <li>
                    <span>[<a href="/jobs/?city={{ entry.city }}" title="查看所有{{ entry.city }}的招聘信息">{{ entry.city }}</a>]</span>
                    <a href="{{ entry.get_absolute_url }}" class="title">
                        {{ entry.company }} {{ entry.title }}
                    </a>
                    <span>{{ entry.click_times }}阅</span>
                    <span class="right">{{ entry.sub_time|how_long }}</span>
                    <div class="clear"></div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="box">{% include "ga_700_90.inc.html" %}</div>

    <div class="box">
        <ul class="list" id="job-list">
            {% for entry in entrys.object_list|slice:"15:" %}
                <li>
                    <span>[<a href="/jobs/?city={{ entry.city }}" title="查看所有{{ entry.city }}的招聘信息">{{ entry.city }}</a>]</span>
                    <a href="{{ entry.get_absolute_url }}" class="title">
                        {{ entry.company }} {{ entry.title }}
                    </a>
                    <span>{{ entry.click_times }}阅</span>
                    <span class="right">{{ entry.sub_time|how_long }}</span>
                    <div class="clear"></div>
                </li>
            {% endfor %}

            <div class="more">{% include 'paginator.inc.html' %}</div>
            <div class="clear"></div>
        </ul>
    </div>
{% endblock %}
{% block sidebar %}
    <a href="/jobs/add/" id="add">发布招聘信息</a>
    {% get_job_by_click_time %}
    <div id="float-ads-sidebar">{% include "ga_250_250.inc.html" %}</div>
{% endblock %}
