{% extends 'base.html' %}
{% block title %}链接页面{% endblock %}
{% block description %}所有与pythoner.net网站建立过友情链接的网站、博客{% endblock %}
{% block main %}
{% load link_tags %}
<style>
ul.link{
    margin:0 0 6px 0;
    padding:0 0 6px 0;
    list-style:none;
    border-bottom:1px solid #f4f4f4;
}
ul.link li{
    padding:0;
    overflow:hidden;
    margin:0 0 0 10px;
    float:left;
    display:block;
    width:135px;
    overflow:hidden;
}
ul.link li img{
    width:12px;
    height:12px;
    margin:0 4px 0 0;
}
</style>
    <h1>链接页面</h1>
    {% get_link_by_category 1 %}
    {% get_link_by_category 2 %}
    {% get_link_by_category 3 %}
{% endblock %}
{% block sidebar %}
    <ul>
        <h2>添加链接</h2>
        <li>无论是企业站/个人博客/还是微博，只要你的网站内容与python相关，或者用python开发，都可以在这里提交你的链接&nbsp;&nbsp;
        <a href="/link/add/">猛击这里添加</a></li>
    </ul>
{% endblock %}