{% extends 'base.html' %}
{% block title %}编辑{% endblock %}
{% block main %}
<script type="text/javascript">
$(document).ready(function(){
	$('form').validate({
		rules:{
			title:{required:true,minlength:3,maxlength:50},
			content:{required:true,minlength:3}
		},
		messages:{
			title:{required:'.',minlength:'.',maxlength:'.'},
			content:{required:'.',minlength:'.'}
		}
		
	});
});
</script>
<style>
#id_title{width:640px;}
</style>
<link rel="stylesheet" href="/static/js/kindeditor/themes/default/default.css">
<script type="text/javascript" src="/static/js/kindeditor/kindeditor.js"></script>
<script type="text/javascript" src="/static/js/kindeditor/lang/zh_CN.js"></script>
<script>
        var editor;
        KindEditor.ready(function(K) {
                editor = K.create('#id_content', {
                        resizeType : 2,
                        allowImageUpload:true,
                        height:'500px',
                        width:'650px',
                        fontSizeTable:'14px',
                        filterMode :true,
                        items:['code','image','fullscreen'],
                        htmlTags:{
                            'code,pre' : [''],
                            'img' : ['src', 'width', 'height'],
                        },
                        
                        uploadJson : '/upload/',
                        fileManagerJson : '../asp.net/file_manager_json.ashx',
                        fieldName : 'file',                
                        extraFileUploadParams : {
                            file_type : 'image',
                            dir : 'topic'
                        },

                });
        });
</script>
{% load topic_tags %}
    <h1>{{ title }}</h1>
     <form action="{{ form_action }}" method="POST">
            {{ form.as_p }}
            <div style="text-align:right;">
                <input type="submit" name="submit" value="写好了！" class="button" style="width:90px;">
            </div>
    {% csrf_token %}
    </form>
{% endblock %}
{% block sidebar %}
    {% get_latest_topic %}
{% endblock %}
