{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block description %}Python教程{% endblock %}
{% block canonical %}<link rel="canonical" href="http://pythoner.org/wiki/" />{% endblock %}
{% load wiki_tags %}
{% block main %}
{% if allow_category %}
    <div id="category-list">
        {% get_wiki_category %}
        <div class="clear"></div>
    </div>
{% endif %}
{% if tag %}
    <div id="category-list">
        <h2>{{ tag.name }}</h2>{{ tag.remark }}
    </div>
{% endif %}
<div class="box">
    {% include 'wiki_list.inc.html' %}
</div>
{% endblock %}
{% block sidebar %}
    <a href="/wiki/add/" id="add">分享文章</a>
    {% get_wiki_tag %}
    {% get_wiki_by_clicktime %}
    {% include "ads-250-60.html" %}
    {% include 'rss.inc.html' %}
    {% endblock %}

